<div class="container mt-5">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="card">
        <div class="card-body">
          <h1 class="titulo mb-0">TARJETA DE CREDITO</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-6">
      <app-crear-tarjeta (parametrosSeleccionados)="adicionarTarjeta($event)"></app-crear-tarjeta>
    </div>
    <div class="col-lg-6">
      <app-listar-tarjeta [tarjetasActivas]="listaTarjetas"></app-listar-tarjeta>
    </div>
  </div>
</div>